<?xml version="1.0"?>
<ruleset name="Image Size Limit">
	<description>Coding standards for the Image Size Limit plugin.</description>
	<file>wp-image-size-limit.php</file>
	<file>wpisl-options.php</file>
	<file>includes</file>
	<exclude-pattern>vendor/*</exclude-pattern>
	<arg name="extensions" value="php"/>
	<arg value="sp"/>
	<rule ref="WordPress-Core"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="image-size-limit"/>
			</property>
		</properties>
	</rule>
</ruleset>
